## Data types

- int

- float

- string 

- set

  - frozen set 

- dictionary 

- bool

- complex

- range 

- byte

- byte array

- memory view 


- none type

# $ integers $

In [2]:
number = 100
number

100

In [3]:
type(number)

int

**number system**

- Binary number system 

- decimal number system 

- Octa number system 

- Hexa number system

**Binary number system**
- it is denoted with **0b** or **0B** 

- Binary means two 

- we have generally 0 to 9 digits available 

- binary means only twi digits allowed : 0 and 1

- ex :0b101 ob111 0b000 0B001 

not valid : 0b123 0B000012

2^2 2^1 2^0
4    2   1
##################
  0  0    0   0   0 
  0  0    0   1   1
  0  0    1   0   2
  0  0    1   1   3
  0  1    0   0   4
  0  1    0   1   5
  0  1    1   0   6 
  0  1    1   1   7
  1
  1
  1
  1
  1
  1
  1
  1

### # ** Octa number system **
 - it is denoted with **0o** or 0O
 - octa is denoted by 0
 - octa mens 8
 - we generally 0 to 9 digital available 
 - octa means only digits are allowed : 0 1 2 3 4 5 6 7

In [1]:
 0o55

45

## hexa number system

- it is denoted with 0x or 0x
- hexa is denoted by x
- hexa means 16
- we have generally 0 to 9 digit available
- hexa means only digits are allowed 0 to 9 A to F
- ex. 0xabc, 0XABC
- not valid 0xefg

In [8]:
1e1   # 1*10=10
1e2   # 1*100=100
2e3   # 2*1000=2000
4e4   # 4*10000=40000

40000.0

In [9]:
print(1e1)   # 1*10=10
print(1e2)   # 1*100=100
print(2e3)   # 2*1000=2000
print(4e4)   # 4*10000=40000

10.0
100.0
2000.0
40000.0

In [10]:
print(1-1)   # 1/10=0.1
print(1-2)   # 1/100=0.01
print(2-3)   # 2/1000=0.002
print(4-4)   # 4/10000=40000

0
-1
-1
0

In [2]:
0x5F

95

In [4]:
0XABC

2748

In [1]:
0xabf

2751

## integer data type 
# float data type

### Boolean

In [2]:
val=True
val

True

In [3]:
type(val)

bool

In [4]:
true

NameError: name 'true' is not defined

# strings

 - English format representation 
 - strings represent with quotes 
 - we can use single quotes , double quotes also triple quots

In [6]:
name='python'
name

'python'

In [7]:
type(name)

str

In [8]:
print (name)
# when we print we will not able to see

python

In [9]:
name ="naresh it "
name 
# but the output displayed as single quotes

'naresh it '

In [12]:
str1="i love 'python'"
print(str1)

i love 'python'

- keep entire string in double quotes then highlite the word with single quote vice

### Triple quotes 
 - triple quotes can not use in coding part
 - triple quotes mean conveying the information
 - this is process is called as **doc string**
 - in jupyter notebook we have markdowen option
 - but in vscode or pycharm there is no markdown option
 - so user will convey the information by providing triple quotes

In [ ]:
true= True #works 
true ='true'# w
true=10.5  #w
true=10
true =