In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(20)

10
20

In [3]:
print(10)
print(20)

10
20

In [4]:
print(10),print(20)

10
20

(None, None)

In [5]:
10,20

(10, 20)

In [6]:
print(a,b)

10 20

In [7]:
print(30,'nareshit','hyd')
# 3values

30 nareshit hyd

In [10]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200is 300

print("the addition of 100 and 200is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [13]:
age = 21
print("the age ",age,"21")

the age  21 21

In [16]:
name="python"
age=10
city="hyd"
print("my name is",name,"im",age,"years old came from",city)
# my name is python im 10 years old and came from hyd

my name is python im 10 years old came from hyd

# Format

In [17]:
name="python"
age=10
city="Hyd"
print("mu name is {} im {} years old and came from{}".format(city,age,name))

mu name is Hyd im 10 years old and came frompython

In [18]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of {} and {} is{}and come from".format(num1,num2,add))

the addition of 1000 and 200 is1200and come from

#### Find the avg of three num

In [20]:
a=100
b=150
c=200
avg=(a+c+b)/3
print("The average of {} and {}and {} is {}  ".format(a,b,c,avg))

The average of 100 and 150and 200 is 150.0

In [21]:
a=1.5
b=10
c=5
avg=(a+c+b)/3
print("the average of {} and {} and {} is {}".format(a,b,c,avg))

the average of 1.5 and 10 and 5 is 5.5

In [23]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and is 300
print("the addition of 100 and 200 is 300")
print ("the addition of {} and {} is {}".format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

### Round Function

In [24]:
a=100
b=150
c=200
avg=(a+c+b)/3
print(avg)

150.0

In [ ]:
# print()
# type ()
# int ()
# float ()
# str ()

# CTRL+A
# CTRL+/
# to comment the whole information

In [25]:
round(10.777777,5)

10.77778

In [26]:
round(10.7777,2)

10.78

In [ ]:
print(round(10.7777))
print(round(10.7777,2))
print

### END

In [27]:
print(10,end="")
print(20)

1020

In [28]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [30]:
print('hello',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you')

hello how are you

In [ ]:
I have multiple vaues in a single print

### Sep

In [31]:
print(10,20,30)
# 10 ====> 20 =====> 30

10 20 30

In [32]:
print(10,20,30,sep='=====>')

10=====>20=====>30

- basic print ststement 
- we learn format method 
- we learn f string mrthod 
- we learn round 
- we learn end operator 
- we learn end operator

#wap take the radidus of a circle calculate area of the circle 
#var: radidus  var: pi3.14
#formula :pi*radius*radius
#print the answer using f string and format

#wap take the bredath and height of a right angle triangle 
#calculate area
#var1 :bredath var2:height
#formula : 0.5*breadth*height

#wap take the bill amoun and tip amount 
#calculate total bill
#varl: bill amount var2:Tip amount 
#formula 

#wap take the length and breadth of a rectangle area 
#var1:length var2: breadth 
#formula: lenght * breadth 
 # Full from wap - write a program

In [10]:
 radius = 10
 pi = 3.14
area =(pi*radius*radius)
print("area of circle {}".format(area))
print(f"area of circlr {area}")

# wap take the radidus of a circle calculate area of the circle 
# var: radidus  var: pi3.14
# formula :pi*radius*radius
# print the answer using f string and format

area of circle 314.0
area of circlr 314.0

In [12]:
 breadth = 4
 height = 8
 area =(0.5*breadth*height)
 print("calculate  the area of tringle {} ".format(area))
 print(f"calculate the area of tringle {area}")

# wap take the bredath and height of a right angle triangle 
# calculate area
# var1 :bredath var2:height
# formula : 0.5*breadth*height

calculate  the area of tringle 16.0
calculate the area of tringle 16.0

In [1]:
a = float(input('area of right angle triangle=' ))
b = float(input('breadth of right angle triangle='))
h = a/(2*b)
print('height of triangle:{}{}{}'.format( a,b,h))

area of right angle triangle= 50
breadth of right angle triangle= 100

height of triangle:50.0100.00.25

In [27]:
# wap take the length and breadth of a rectangle area 
# var1:length var2: breadth 
# formula: lenght * breadth 

length= 15
breadth = 20
area = (length* breadth)
print("calculate the area of rectangle {}".format(area))
print(f"calculate the area of rectangle {area}")

calculate the area of rectangle 300
calculate the area of rectangle 300

In [29]:
#wap take the bill amoun and tip amount 
#calculate total bill
#varl: bill amount var2:Tip amount 
#formula 

bill=1000
tip =50
total =bill+tip
print("calculate total bill {}".format(total))
print(f"calculate total bill {total}")

calculate total bill 1050
calculate total bill 1050

In [30]:
print("fff)

SyntaxError: unterminated string literal (detected at line 1) (811436471.py, line 1)

In [65]:
name = "aman"
print(name2)

NameError: name 'name2' is not defined

In [37]:
if True:
    
dfdf

IndentationError: expected an indented block after 'if' statement on line 1 (3122172002.py, line 3)

In [38]:
list1 = [1,2]
list1[3]

IndexError: list index out of range

In [60]:
import math
import rando
random.randint(1,7)

ModuleNotFoundError: No module named 'rando'

In [44]:
str1 = "aman"
str2 = "kumar"
str3 = 6
print(str1+str2+str3)

TypeError: can only concatenate str (not "int") to str

In [ ]:
name error, syntax error, type error

In [ ]:
**input**
- in avbove we  provide the value 
- input is the inbuilt fuction 
-

In [2]:
input

**note:whenerver if we see bound method or function which indicate we forget the bracket**

In [3]:
input()

 100

'100'

In [4]:
input()

 python

'python'

In [5]:
name =input()

 nareshit

In [6]:
a=100
type(a)

int

In [7]:
n1=input() #n1='100'
n2=input() #n2='200'
n3=input() #n3='300'

 100
 200
 300

In [9]:
n1,n2,n3

('100', '200', '300')

In [10]:
n1=input("enter the number1:")
n2=input("enter the number2:")

enter the number1: 100
enter the number2: 200

In [11]:
n1=input("enter the number1:")
n2=input("enter the number2:")
n1+n2

enter the number1: 100
enter the number2: 200

'100200'

In [12]:
n1=input("enter the number1:")
n2=input("enter the number2:")
n1+n2 #'500'+'600'='500600'

enter the number1: 500
enter the number2: 600

'500600'

In [17]:
n1=int(input("enter the number1:")) #n1=int('500')=500
n2=int(input("enter the number2:")) #n2=int('600')=600
n1+n2 #'500'+'600'='1100'

enter the number1: 500
enter the number2: 600

1100

In [18]:
n1=input("enter the number1:") #n1=int('500')=500
n2=input("enter the number2:") #n2=int('600')=600
int(n1)+int(n2) #'500'+'600'='1100'

enter the number1: 500
enter the number2: 600

1100

In [ ]:
n1=input
n2=input

### input values by default string type

In [19]:
str1='apple'
str2='is'
str3='fruit'
str1+str2+str3

'appleisfruit'

In [15]:
str1=input("enter a string1:")
str2=input("enter a string:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1: apple
enter a string:  is
enter a string3:  fruite

'apple is fruite'

**eval**
- eval means evaluate
- it is related to math family
- which means it works only number represent as string 
- it will not works on english letters
- eval will covrt the repective data type which is user enter 
- if user enter 10 in quotes it will convert into 10
- if user enter 10.5 in quotes it will convert into 10.5

In [20]:
int('10') #10
int('10.5') #error


float('10') 
float('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [22]:
n1=input("enter the number1:") 
n2=input("enter the number2:") 
eval(n1)+eval(n2)

enter the number1: 10
enter the number2: 20.5

30.5

# Assignment

In [27]:
# wap ask the user enter 3 numbers n1,n2,n3 from keyboard
# calculate average 

n1=10
n2=25
n3=35
avg=(n1+n2+n3)/3
print(f"the avg of 3 num is {avg}")

the avg of 3 num is 23.333333333333332

In [46]:
 # wap ask the user enter name age city
# print my name is python in 10 year old and come from hyd

name =input("enter the name : ")
age = (input("enter the age : "))
city = input("enter the city: ")
print(f" My name is {name} i am {age} year old and come from {city} ")

enter the name :  python
enter the age :  10
enter the city:  Hyd

 My name is python i am 10 year old and come from Hyd

In [60]:
 # wap ask  the user to enter radidus of a circle calculate area of the circle 
# var: radidus  var: pi3.14
# formula :pi*radius*radius
# print the answer using f string and format

radius = eval(input("enter the radidus of circle: "))
 pi    = 3.14
area =(pi*radius*radius)
print(f"Area of circle : {area}")

enter the radidus of circle:  5

Area of circle : 78.5

In [65]:
# wap ask the user enter bredath and height of a right angle triangle 
# calculate area
# var1 :bredath var2:height
# formula : 0.5*breadth*height

breadth = eval(input("Enter the bredath : "))
height = eval(input("Enter the height: "))
area = (0.5*breadth*height)
print("area of the triangle is {} ".format(area))
print(f"area of the triangle is {area}")

Enter the bredath :  2
Enter the height:  10

area of the triangle is 10.0
area of the triangle is 10.0

In [69]:
# wap ask the user the bill amount and tip amount
# calculate total bill 
# var1:bill amount var2:tip amount
# formul 
bill = eval(input("enter the total bill : "))
tip = eval(input("enter the tip :  "))

total= (bill+tip)

print("the bill and tip total  amount is {}  ".format(total))
print(f"the bill and tip total amount is {total} ")

enter the total bill :  500
enter the tip :   20

the bill and tip total  amount is 520
the bill and tip total amount is 520

In [91]:
# wap ask the user the bill amount and tip percentage 
# take tip percetage as 10
# calculate total bill= bill amount + bill amount*tip per/100
# var1:bill amount var2:tip amount
# formula 

bill = eval(input("Enter the total bill : "))
tip = eval(input("Enter the tip percentage :  "))

per  = (bill*tip/100)
total = (bill+per)
print(f"tip percentage amount is : {per}")
#print("calculate the bill amount and tip percetage {}{}".format(bill)(per))
print(f"the bill amount and tip percentage : {total}")

Enter the total bill :  500
Enter the tip percentage :   10

tip percentage amount is : 50.0
the bill amount and tip percentage : 550.0

In [79]:
# wap ask the length and breadth of a rectangle calculate area 
# var1:lenght var2:breadth
# formula:lenght*breadth

lenght = eval(input("enter the lenght of : "))
breadth = eval(input("enter the breadth of: "))

area = lenght*breadth
  
print("Area of the rectangle is : {}".format(area))
print(f"Area of the rectangle is : {area}")

enter the lenght of :  10
enter the breadth of:  20

Area of the rectangle is : 200
Area of the rectangle is : 200

In [78]:
# wap ask the user take the radius and calculate volume of sphere
# formula =pi*r*3(r*r*r)

r = eval(input("enter the radius : "))
pi = 3.14
volume = pi*r**3

print("the Volume of sphere {} ".format(volume))
print(f"the Volume of sphere {volume} ")

enter the radius :  5

the Volume of sphere 392.5
the Volume of sphere 392.5

In [75]:
# wap  ask the user the user enter amount in dollars covert into repees
# 1$=85

doller = eval(input("Enter the doller Amount : "))

total_rupees = 85*doller

print(f"Convert doller in to rupees :{total_rupees} ")

Enter the doller Amount :  5

Convert doller in to rupees :425

In [77]:
# wap ask the user enter weight in kgs covert into pounds
# 1kg=2.2pounds 

weight = eval(input("Enter the weight in kg : "))
pounds = 2.2*weight

print(f"weight in pounds :{pounds}")

Enter the weight in kg :  5

weight in pounds :11.0